services:
  app:
    build: .
    ports:
      - "8080:8000"
    env_file:
      - .env
    environment:
      - MONGO_URI=mongodb://mongodb:27017
      - REDIS_HOST=redis
    depends_on:
      - mongodb
      - redis
    volumes:
      - .:/app
      - chroma_data:/app/chroma_db

  mongodb:
    image: mongo:latest
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:alpine
    ports:
      - "6381:6379"
    volumes:
      - redis_data:/data

  mongo-express:
    image: mongo-express
    ports:
      - "8085:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=pass
    depends_on:
      - mongodb

  redis-commander:
    image: rediscommander/redis-commander:latest
    ports:
      - "8086:8081"
    environment:
      - REDIS_HOSTS=local:redis:6379
    depends_on:
      - redis

volumes:
  mongo_data:
  redis_data:
  chroma_data:
